---
import Layout from "@layouts/default.astro";
---

<Layout>
  <h1>More</h1>
  <ul>
    <li><a href="/more/favorites">Favorite Books</a></li>
    <li><a href="/more/progress-indicator">Progress Indicator</a></li>
  </ul>
</Layout>
