---
import Layout from "@layouts/default.astro";
import PlaytimeComponent from "@components/PlaytimeComponent.svelte";
import Sankey from "@components/KombuchaSankey.astro";
---

<Layout>
  <h1>Playing with D3.js</h1>
  <!-- <PlaytimeComponent client:only /> -->
  <Sankey />
</Layout>

