@use "../abstracts/" as *;

.two-columns {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  @include mq(medium) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
  }
}
