@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  gap: 0.5em;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  transition: 275ms ease;

  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }

  &[data-type="accent"] {
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background-color: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &[data-type="transparent"] {
    background-color: transparent;

    &:is(:hover, :focus) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &[data-type="project"] {
    // TODO: the default font family im using doesn't center its text vertically...
    font-family: system-ui;

    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 28px;
    fill: white;

    &:is(:hover, :focus) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
