@use "../abstracts" as *;

.site-header {
  color: $site-header-color;
  background-color: $site-header-background-color;
  padding: $site-header-padding;

  &__inner {
    height: 100%;
    position: relative;
    display: flex;
    text-align: center;
    gap: $size-5;
    align-items: $site-header-alignment;
    justify-content: $site-header-justification-small-screens;
    font-size: $size-5;

    @include mq(medium) {
      justify-content: $site-header-justification-large-screens;
    }
  }

  &__inner-right {
    display: flex;
    gap: $size-5;
    align-items: center;
  }

  & a {
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }
}
