@use "../abstracts/" as *;

.site-footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  min-height: $footer-min-height;
  padding: $footer-padding;

  display: grid;
  place-content: center;

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: $size-1;
    column-gap: $size-6;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  li {
    height: fit-content;
  }

  a {
    color: $footer-link-color;
    text-decoration: $footer-link-text-decoration;
    font-family: $footer-link-font-family;
    letter-spacing: $letter-spacing-loose;

    &:is(:hover, :focus) {
      color: $footer-link-color-hover;
      text-decoration: underline;
    }
  }
}
