@use "../abstracts" as *;

.tabs {
  margin-top: 2rem;
}

.tabs .tab-button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-size: $button-font-size;
  padding: $button-padding;
  border: $button-border;
  transition: 275ms ease;

  background-color: var(--bg-color);
  color: var(--color);
  //   box-shadow: $box-shadow-4;
}

.tabs .tabpanel {
  background-color: var(--bg-color);
  color: var(--color);
  padding: 2rem;
  min-height: 80vh;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: $box-shadow-4;

  & > * {
    background-color: var(--bg-color);
    color: var(--color);
  }

  &__inner {
    padding-top: 2rem;
    max-width: 55ch;
    text-wrap: pretty;
  }

  &__video {
    border-radius: 8px;
    overflow: hidden;

    // width: min(280px, 560px);
    aspect-ratio: 16 / 9;
  }
}

.tabs p {
  line-height: 1.6;
}

.tabs .tabpanel[data-state="inactive"] {
  // This is copied from _visually-hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.tab-heading {
  font-size: $size-12;
  letter-spacing: -0.05em;
  font-weight: $font-weight-bold;
  line-height: 1;
}
