---
// import AutoToc from "@components/AutoToc.astro";
import { getCollection } from "astro:content";
import Layout from "@layouts/new-layout.astro";
export const prerender = true;

export async function getStaticPaths() {
  const postsCollection = (await getCollection("posts")).filter(
    (p) => !p.data.draft
  );

  return postsCollection.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <div class="prose padding-block-11">
    <h1>{post.data.title}</h1>
    <div class="padding-block-end-2">
      <span>Date:</span>
      <span>{post.data.date.toLocaleDateString()}</span>
      <!-- <div class="tags"> -->
      <div class="flex-group row-gap-0 col-gap-2">
        <span>Tags:</span>
        {
          post.data.tags.map((tag) => {
            return (
              <>
                <span>
                  <a href={`/tags/${tag}`}>{tag}</a>
                </span>
              </>
            );
          })
        }
      </div>
    </div>
    <!-- TODO: hiding the table of contents -->
    <!-- {post.data.includeToc && <AutoToc />} -->
    <Content />
  </div>
</Layout>
