---
import { getCollection } from "astro:content";
import Layout from "@layouts/default.astro";
import AutoToc from "@components/AutoToc.astro";

export const prerender = true;

export async function getStaticPaths() {
  const postsCollection = (await getCollection("posts")).filter(
    (p) => !p.data.draft
  );

  return postsCollection.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <div class="content-wrapper">
    <h1>{post.data.title}</h1>
    <span>Date:</span>
    <span>{post.data.date.toLocaleDateString()}</span>
    <div class="tags">
      <span>Tags:</span>
      {
        post.data.tags.map((tag) => {
          return (
            <>
              <span>
                <a href={`/tags/${tag}`}>{tag}</a>
              </span>
            </>
          );
        })
      }
    </div>
    {post.data.includeToc && <AutoToc />}
    <Content />
  </div>
</Layout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
  }

  .content-wrapper {
    max-width: 55ch;
    margin-inline: auto;
    text-wrap: pretty;
  }
</style>
<style is:global>
  body img {
    margin-inline: auto;
  }
</style>
