---
import { getCollection } from "astro:content";
import Layout from "@layouts/default.astro";
import AutoToc from "@components/AutoToc.astro";

export const prerender = true;

export async function getStaticPaths() {
  const guidePosts = await getCollection("guides");

  return guidePosts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <h1>{post.data.title}</h1>
  {post.data.includeToc && <AutoToc />}
  <Content />
</Layout>
