@use "../abstracts/" as *;

.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
  width: fit-content;
}

.flex-group.justify-center {
  justify-content: center;
}

.flex-group.justify-between {
  justify-content: space-between;
}

.flex-group.items-end {
  align-items: end;
}

.flex-group.flex-col {
  flex-direction: column;
}

.flex-group.items-center {
  align-items: center;
}

.flex-group.flex-nowrap {
  flex-wrap: nowrap;
}
