@use "../abstracts/" as *;

.gap-000 {
  gap: 0;
}

.gap-100 {
  gap: $size-1;
}

.gap-200 {
  gap: $size-2;
}

.gap-300 {
  gap: $size-3;
}

.gap-400 {
  gap: $size-4;
}

.gap-400 {
  gap: $size-4;
}

.gap-500 {
  gap: $size-5;
}

.gap-600 {
  gap: $size-6;
}

.gap-700 {
  gap: $size-7;
}

.gap-800 {
  gap: $size-8;
}

.gap-900 {
  gap: $size-9;
}
