@use "../abstracts/" as *;
@use "./headings/" as *;

.prose {
  & > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
  }

  h1 {
    @extend .heading-1;
  }

  h2 {
    @extend .heading-2;
  }

  h3 {
    @extend .heading-3;
  }

  h4 {
    @extend .heading-3;
    font-size: calc($heading-3-font-size * 0.8);
  }

  li > p,
  ol > p {
    margin-block: 0;
  }

  li,
  ol {
    margin-block: 0.75rem;
  }

  img {
    max-width: 100%;
    max-height: 70vh;
    width: auto;
    height: auto;

    margin-inline: auto;
  }

  pre {
    // Check out astro.config.mjs for the themes and other configuration
    padding: 1rem 1rem;
    font-size: 0.875rem;
    max-width: 95vw;
  }
}

.copy-code {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(192.45, 96.36%, 40%);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.copy-code:hover {
  background-color: hsl(192.45, 96.36%, 30%);
}
