---
import Layout from "@layouts/default.astro";
---

<Layout>
  <h1>Fermentation Equipment</h1>

  <ul>
    <li>
      <a
        href="https://cosori.com/products/premium-stainless-steel-food-dehydrator-cp267-fd?_psq=dehydrator&_v=1.0"
        >Cosori 6-tray Food Dehydrator</a
      >
      <!-- Primarily used for tempeh at this time. -->
    </li>
    <li>
      <a href="https://stonewareoutlet.com/1-gallon-starter-kit-boxed/"
        >Ohio Stoneware 1-gallon Crock with lid and weights</a
      >
      <!-- Used for kraut. Fits about two cabbages. -->
    </li>
    <li>Glass circular weights</li>
    <li>A generic kitchen scale</li>
    <li>Lots of jars - mostly wide mouth</li>
    <li>Grolsch bottles</li>
  </ul>
</Layout>
