---
import { getCollection } from "astro:content";
import Layout from "@layouts/new-layout.astro";
import BlogList from "@components/BlogList.astro";

export async function getStaticPaths() {
  const postsCollection = await getCollection("posts");
  const posts = postsCollection.filter((p) => !p.data.draft);

  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts
      .filter((post) => post.data.tags.includes(tag))
      .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
      .reverse();
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout>
  <section class="section container" data-type="regular">
    <h1 class="heading-1 padding-block-end-4">Tag: {tag}</h1>
    <BlogList blogs={posts} />
  </section>
</Layout>
