---
import { getCollection } from "astro:content";
import Layout from "@layouts/default.astro";
import BlogList from "@components/BlogList.astro";

export async function getStaticPaths() {
  const postsCollection = await getCollection("posts");
  const posts = postsCollection.filter((p) => !p.data.draft);

  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts
      .filter((post) => post.data.tags.includes(tag))
      .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
      .reverse();
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout>
  <h1>Tag: {tag}</h1>
  <main class="content">
    <BlogList blogs={posts} />
  </main>
  <style>
    .content {
      display: flex;
      flex-direction: column;
    }
  </style>
</Layout>
