---
import Layout from "../layouts/default.astro";
---

<Layout>
  <h1>Page Not Found</h1>
  <section>
    <p>Unfortunately, there's nothing to see here.</p>
    <a href="/" class="link-button">Go home</a>
  </section>
</Layout>

<style>
  section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
</style>
