---
import Layout from "@layouts/default.astro";
---

<Layout>
  <section
    class="section prose mx-auto flex-group flex-col justify-center items-center w-full gap-10">
    <h1 class="text-center">Page Not Found</h1>
    <a href="/">Go home</a>
  </section>
</Layout>

<style></style>
