---
import Layout from "../layouts/default.astro";
---

<Layout>
  <h1>Alex Ledger</h1>
  <section>
    <p>
      This page couldn't be found. <br />Unfortunately, there's nothing to see
      here.
    </p>
    <a href="/" class="link-button">Go home</a>
  </section>
</Layout>

<style>
  section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
</style>
