---
import Layout from "../layouts/default.astro";
---

<Layout>
  <h1>Alex Ledger</h1>
  <section>
    <p>Uh, oh, this page couldn't be found.</p>
    <p>Unfortunately, there's nothing here to see.</p>
    <a href="/" class="link-button">Go home</a>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
</style>
