---
// https://docs.astro.build/en/tutorial/5-astro-api/3/
import Layout from "@layouts/new-layout.astro";
import { getCollection } from "astro:content";

const postsCollection = await getCollection("posts");

const tags = [
  ...new Set(postsCollection.map((post) => post.data.tags).flat()),
].sort();
---

<Layout>
  <section class="section">
    <h1 class="heading-1 border-bottom padding-block-end-3 margin-block-end-8">
      Tags
    </h1>
    <main class="content">
      <div class="tags-list">
        {
          tags.map((tag) => {
            return (
              <p>
                <a href={`/tags/${tag}`}>{tag}</a>
              </p>
            );
          })
        }
      </div>
    </main>
  </section>
</Layout>
<style>
  .content {
    display: flex;
    justify-content: center;
  }
  .tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3rem 0.7rem;
    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    /* text-shadow: 0 0 20px var(--color-primary); */
    text-shadow: 0 0 15px var(--color-secondary);
  }
</style>
