---
import Layout from "@layouts/default.astro";
import WithFlagsGroceries from "@components/GroceriesWithFlags.astro";
---

<Layout>
  <h1>Dev Page</h1>
  <WithFlagsGroceries />
</Layout>
<style></style>
