---
import { getCollection } from "astro:content";
import Layout from "@layouts/default.astro";
import BlogList from "@components/BlogList.astro";

export const prerender = true;

const postsCollection = await getCollection("guides");
const posts = postsCollection
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .reverse();
---

<Layout>
  <h1>Guides</h1>
  <BlogList blogs={posts} />
</Layout>
