---
import { getCollection } from "astro:content";
import Layout from "../layouts/default.astro";
import BlogList from "../components/blog-list.astro";
// export const prerender = true;
const posts = await getCollection("posts");

const recentPosts = posts
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .reverse()
  .slice(0, 5);

const guides = await getCollection("guides");

const recentGuides = guides
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .reverse()
  .slice(0, 5);
---

<Layout>
  <h1>Alex Ledger</h1>

  <p>
    I build small projects and big projects, work on big problems and small
    problems, and love experimenting with old and new technologies.
  </p>
  <p>
    You can find me at:
    <ul>
      <li>
        My website: <a href="https://alexledger.net">alexledger.net</a>
      </li>
      <li>
        GitHub:
        <a href="https://github.com/aled1027">https://github.com/aled1027</a>
      </li>
      <li>
        LinkedIn: <a href="https://www.linkedin.com/in/alex-ledger-75aab461"
          >https://www.linkedin.com/in/alex-ledger-75aab461</a
        >
      </li>
    </ul>
    <p>The best way to reach me is by email at “contact at alexledger.net”.</p>

    <h2>Recent Posts</h2>
    <BlogList blogs={recentPosts} />
    <a class="see-all-posts-a" href="/posts">
      <span>See all posts</span><sl-icon name="arrow-right"></sl-icon>
    </a>
    <h2>Recent Guides</h2>
    <BlogList blogs={recentGuides} />
    <a class="see-all-posts-a" href="/guides">
      <span>See all guides</span><sl-icon name="arrow-right"></sl-icon>
    </a>
    <h2>About This Site</h2>
    <p>
      This site was made with <a href="https://astro.build">astro</a>. The
      source code can be found on <a
        href="https://github.com/aled1027/alexledger.net">GitHub</a
      >.
    </p>
    <!-- For signing into indieauth -->
    <!-- <h2>Contact</h2> -->
    <!-- <a href="mailto:contact@alexledger.net" rel="me">contact@alexledger.net</a> -->
    <style>
      .see-all-posts-a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        font-size: 1rem;
        font-weight: 500;
      }
    </style>
  </p>
</Layout>
