---
import Layout from "@layouts/new-layout.astro";
---

<Layout>
  <h1 class="heading-2">ALEX LEDGER</h1>
  <a href="/posts" class="">
    <h2 class="heading-3">Posts</h2>
  </a>
  <a href="/projects" class="" data-type="svg">
    <h2 class="heading-3">Projects</h2>
  </a>

  <a href="/lists" class="">
    <h2 class="heading-3">Lists</h2>
  </a>
  <a href="/search" class="">
    <h2 class="heading-3">Search</h2>
  </a>
  <div class="">
    <h2 class="heading-3">this site</h2>
    <p>
      This site was made with <a href="https://astro.build/" target="_blank"
        >Astro</a
      >. The source code can be found on <a
        href="https://github.com/aled1027/alexledger.net"
        target="_blank">GitHub</a
      >.
    </p>
  </div>
</Layout>
