---
import { getCollection } from "astro:content";
import BlogList from "@components/BlogList.astro";
import Layout from "@layouts/new-layout.astro";

export const prerender = true;

const postsCollection = await getCollection("posts");
const posts = postsCollection
  .filter((p) => !p.data.draft)
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .reverse();
---

<Layout>
  <section class="section">
    <h1 class="heading-1 padding-block-end-4">Posts</h1>
    <BlogList blogs={posts} />
  </section>
</Layout>
