---
import Layout from "@layouts/default.astro";
---

<Layout>
  <section class="section flow">
    <h1 class="heading-1">Search</h1>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
  </section>

  <script is:inline>
    document.addEventListener(
      "astro:page-load",
      () => {
        new PagefindUI({ element: "#search", showSubResults: true });
      },
      { once: true }
    );
  </script>
  <style is:inline>
    @media (prefers-color-scheme: dark) {
      :root {
        /* --pagefind-ui-primary: var(--color-text-primary);
        --pagefind-ui-text: var(--color-text-primary);
        --pagefind-ui-background: var(--slate-9);
        --pagefind-ui-border: var(--gray-7);
        --pagefind-ui-tag: var(--gray-3); */
      }
    }
  </style>
</Layout>
