---
import Layout from "@layouts/new-layout.astro";
---

<Layout>
  <h1 class="heading-1 | ff-accent">This is the H1, decorative</h1>
  <div class="flow">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
      doloribus. Dignissimos veritatis aperiam numquam? Accusantium dicta
      officiis mollitia recusandae fugiat voluptates ipsa qui tempora labore.
      Vitae sint rerum cumque nostrum.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, fugiat at
      praesentium explicabo necessitatibus deserunt eaque dolor ad temporibus
      distinctio eos recusandae quod a nobis debitis quidem accusantium porro
      esse!
    </p>
  </div>
  <h2>This is the H2</h2>
  <button class="button" data-type="accent">A Button</button>
  <h3>This is the H2</h3>
</Layout>
