---
// This component infers and renders a client-side table of contents by reading h2 and h3 elements
// on the page to populate itself. This does make a few assumptions about the h1/h2/h3 structure
// being well formed, following an appropriate hierarchical structure.
---

<div class="toc-target"></div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    var ToC =
      "<nav role='navigation' class='table-of-contents'><h2>Table of Contents</h2><ol>";

    let isFirstH2 = true;
    document.querySelectorAll("h2, h3").forEach(function (el) {
      const title = el.textContent;
      const link = "#" + el.id;

      let newLine = "<li><a href='" + link + "'>" + title + "</a>" + "</li>";

      // Don't close the outer ol on the first h2 by checking if it's the first h2
      const isH2 = el.tagName === "H2";
      if (isH2 && isFirstH2) {
        newLine = newLine + "<ol class='table-of-contents-inner'>";
        isFirstH2 = false;
      } else if (isH2) {
        newLine = "</ol>" + newLine + "<ol class='table-of-contents-inner'>";
      }
      ToC += newLine;
    });

    ToC += "</ol>" + "</ol>" + "</nav>";
    document.querySelector(".toc-target").insertAdjacentHTML("afterbegin", ToC);
  });
</script>

<style is:global>
  /* NOTE THIS IS UNSCOPED, GLOBAL CSS */

  .table-of-contents {
    margin: 0 auto;
    width: fit-content;
    /* background: var(--surface-2); */
    background-color: rgba(var(--fun-1-rgb), 0.1);
    border-radius: var(--radius-2);
    padding: 0.5rem 2rem 1rem 2rem;

    @media (min-width: 600px) {
      margin: 1rem 2.5rem;
      float: right;
    }
  }

  .table-of-contents-inner li {
    list-style-type: lower-roman;
  }
</style>
