---

---

<footer class="site-footer
        |
        border-bottom">
  <ul role="list" class="site-footer__outerlist">
    <li>Built by Alex Ledger</li>
    <ul class="site-footer__links">
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/#featured-projects">Projects</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
    <ul class="site-footer__links">
      <li><a href="mailto:hello@alexledger.net">hello@alexledger.net</a></li>
      <li><a href="/rss.xml">RSS</a></li>
      <li>
        <a href="https://bsky.app/profile/alexledger.bsky.social">Bluesky</a>
      </li>
      <li><a href="https://incontext.fun">inContext</a></li>
    </ul>
  </ul>
</footer>
