---
import { remark } from "remark";
// import rehypeDocument from "rehype-document";
// import rehypeFormat from "rehype-format";
import rehypeStringify from "rehype-stringify";
import remarkParse from "remark-parse";
import remarkRehype from "remark-rehype";
// import { read } from "to-vfile";
import { unified } from "unified";
// import { reporter } from "vfile-reporter";

let groceries = [
  {
    Name: "Safeway & Albertsons",
    "Corporate Structure": "For-profit",
    Classification: "Big Chain",
    "Number of Employees": "250,000",
    "Unionized?": "",
    "Number of Stores": "",
    "Starting Wage": "$15.84",
    "The bad":
      "2019 lawsuit lost where Safeway denied a worker the right to sit: [Link](https://www.cbsnews.com/sanfrancisco/news/safeway-clerks-sit-down-on-job-santa-clara-court-ruling/)",
    Owner: "Private Equity - Cerebrus Capital",
    Website: "https://safeway.com",
    "Wikipedia Page": "https://en.wikipedia.org/wiki/Safeway",
  },
  {
    Name: "Whole Foods Market",
    "Corporate Structure": "For-profit",
    Classification: "Big Chain",
    "Number of Employees": "91,000",
    "Unionized?": "",
    "Number of Stores": "",
    "Starting Wage": "",
    "The bad":
      "Tracked employees to identify potential unions and union members: [Link](https://www.cbsnews.com/sanfrancisco/news/safeway-clerks-sit-down-on-job-santa-clara-court-ruling/)",
    Owner: "Amazon",
    Website: "https://www.wholefoodsmarket.com/",
    "Wikipedia Page": "https://en.wikipedia.org/wiki/Whole_Foods_Market",
  },
  {
    Name: "Trader Joe's",
    "Corporate Structure": "For-profit",
    Classification: "Big Chain",
    "Number of Employees": "50,000",
    "Unionized?": "",
    "Number of Stores": "",
    "Starting Wage": "",
    "The bad":
      "Accused of union busting in Hadley MA - [Link](https://web.archive.org/web/20220729235231/https://www.theguardian.com/us-news/2022/may/23/trader-joes-workers-massachusetts-push-for-union)",
    Owner: "Aldi, Family of Theo Albrecht",
    Website: "https://www.traderjoes.com/home",
    "Wikipedia Page": "https://en.wikipedia.org/wiki/Trader_Joe's",
  },
  {
    Name: "Winco",
    "Corporate Structure": "For-profit",
    Classification: "Regional chain, employee-owned",
    "Number of Employees": "22,000",
    "Unionized?": "",
    "Number of Stores": "140",
    "Starting Wage": "$16.43",
    "The bad": "",
    Owner: "Employee Owned",
    Website: "https://www.wincofoods.com/",
    "Wikipedia Page": "https://en.wikipedia.org/wiki/WinCo_Foods",
  },
  {
    Name: "New Seasons Market",
    "Corporate Structure": "For-profit B Corp",
    Classification: "Small chain, owned by multinational",
    "Number of Employees": "2,700",
    "Unionized?": "Yes",
    "Number of Stores": "",
    "Starting Wage": "$21.85",
    "The bad":
      "Accusations of accelerating, intentionally, gentrification - [Link](https://www.oregonlive.com/window-shop/2015/10/new_seasons_expansion.html)\nFederal unfair labor charges against New Seasons could result in a new union election after failed vote - [Link](https://www.opb.org/article/2023/01/13/federal-unfair-labor-charges-against-new-seasons-could-result-in-a-new-union-election-after-failed-vote/)",
    Owner:
      "Multinational Conglomerate - Good Food Holdings / E-Mart (South Korea)",
    Website: "https://newseasonsmarket.com/",
    "Wikipedia Page": "https://en.wikipedia.org/wiki/New_Seasons_Market",
  },
  {
    Name: "People's Food Coop",
    "Corporate Structure": "Worker-owned Cooperative",
    Classification: "Food Coop",
    "Number of Employees": "35",
    "Unionized?": "",
    "Number of Stores": "1",
    "Starting Wage": "$17.68",
    "The bad": "",
    Owner: "Worker-owned",
    Website: "https://www.peoples.coop/",
    "Wikipedia Page": "https://en.wikipedia.org/wiki/People's_Food_Co-op",
  },
  {
    Name: "Alberta Food Coop",
    "Corporate Structure": "Worker-owned Cooperative",
    Classification: "Food Coop",
    "Number of Employees": "35",
    "Unionized?": "",
    "Number of Stores": "1",
    "Starting Wage": "",
    "The bad": "",
    Owner: "Worker-owned",
    Website: "https://alberta.coop/",
    "Wikipedia Page":
      "https://en.wikipedia.org/wiki/Alberta_Cooperative_Grocery",
  },
];
---

<div class="container">
  {
    groceries.map((grocery) => {
      return (
        <div class="row" id={grocery.Name.replace(" ", "-")}>
          <div>
            <div>{grocery.Name}</div>
          </div>
          <div>
            <div>{grocery.Owner}</div>
            <small>owner</small>
          </div>
          <div>
            <div>{grocery.Classification}</div>
            <small>classification</small>
          </div>
        </div>
      );
    })
  }
</div>

<style>
  .container {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &:hover {
      background-color: bisque;
    }
  }

  .cell {
  }
</style>
