---
interface Props {
  title: string;
  titleLink: string;
}
const { title, titleLink } = Astro.props;
---

<div class="card">
  <h2><a href={titleLink}>{title}</a></h2>
  <div class="subtitle">Small Chain owned by a Multinational Conglomerate</div>

  <ul>
    <li>Corporate structure: For-profit B Corp</li>
    <li>Unionized: yes</li>
  </ul>

  <slot />
</div>

<style>
  .card {
    padding: 0.1rem 1rem 1rem 1rem;
    background-color: inherit;
    border-radius: var(--radius-3);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 16px 40px;

    @media only screen and (max-width: 600px) {
      margin: 16px 0px;
    }

    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    }
  }

  h2 {
    margin-bottom: 0.125rem;
  }

  h2 a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .subtitle {
    color: var(--fun-1);
  }
</style>
