---

---

<div class="site-header | border-bottom">
  <div class="site-header__inner">
    <div>
      <a href="/">Home</a>
    </div>
    <div class="site-header__inner-right">
      <a href="/posts">Posts</a>
      <a href="/#featured-projects">Projects</a>
      <a href="/search">Search</a>
    </div>
  </div>
</div>
