---
import Projects from "./Projects.astro";
---

<div class="landing-page">
  <section class="top-section | section">
    <h1 class="heading-1 fs-1000 padding-block-start-8 padding-block-end-2">
      Alex Ledger
    </h1>
    <p class="landing-page-text">
      is a software developer with skills spanning the full stack. Alex loves
      building cool and useful things about <a href="#compass">traveling</a>, <a
        href="#incontext">language learning tools</a
      > leveraging the latest AI developments, and <a href="#know-portland"
        >community tools</a
      > to support Portland, OR. Alex writes on his <a href="/posts">blog</a> about
      <a href="/tags/websites">tech</a>, <a href="/tags/library">community</a>,
      and
      <a href="/posts">more</a>.
    </p>
  </section>

  <Projects />
</div>
