---
import Projects from "./Projects.astro";
// TODO: to support the tags, might want to support multiple tags in the url so /tags/foo+bar
---

<div class="landing-page">
  <section class="top-section | section">
    <h1 class="heading-1 fs-1000 padding-block-start-8 padding-block-end-2">
      Alex Ledger
    </h1>
    <p class="landing-page-text">
      <span class="sentence sentence1">
        is a software developer with skills spanning the full stack.
      </span>
      <span class="sentence sentence2">
        Alex loves building cool and useful things about <a
          href="#know-portland">traveling</a
        >,
        <a href="#incontext">language learning tools</a>
        leveraging the latest AI developments, and community tools to support Portland,
        OR.
      </span>
      <span class="sentence sentence3">
        Alex writes on his <a href="/posts">blog</a> about
        <a href="/tags/websites">tech</a>, <a href="/tags/library">community</a
        >, and
        <a href="/posts">more</a>.
      </span>
    </p>
  </section>

  <Projects />
</div>
