---

---

<div class="poem-content">
  <slot />
</div>

<style>
  .poem-content {
    padding: 1rem 2rem;
    background-color: #ddd;
    color: black;
    max-inline-size: 650px;
    margin: 3rem auto;
  }
  .poem-content h2 {
    margin: 1rem 0;
  }
  .poem-content ul {
    margin: 0;
  }
  .poem-content li {
    list-style: none;
    min-height: 1rem;
  }

  ul {
    padding-inline-start: 0;
  }
</style>
