---
import "../styles/main.scss";
import { ViewTransitions } from "astro:transitions";
import Footer from "@components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- https://indieweb.org/RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="/rss.xml"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <script src="@components/InfoButton.js"></script>
    <script
      defer
      data-domain="alexledger.net"
      src="https://plausible.io/js/script.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alex Ledger</title>
    <ViewTransitions />
  </head>

  <body>
    <!-- Header -->
    <div class="site-header | border-top border-bottom">
      <div class="site-header__inner">
        <span
          >alexledger.net, a collection of posts, lists, and experiments.</span
        >
        <span class="right-side">Portland, OR</span>
      </div>
    </div>
    <!-- Main content -->
    <slot />
    <!-- <Footer /> -->
    <footer></footer>

    <script is:inline>
      // Add event handlers for the opening of the modals. This should automatically work
      // across components as long as they have the right classes and data values.
      // See GroceryStoreCard.astro for a particular implementation for reference.

      const openButtons = document.querySelectorAll(".register-open-modal");
      openButtons.forEach((button) => {
        const targetId = button.dataset.target;
        const target = document.querySelector(targetId);
        button.addEventListener("click", () => {
          target.showModal();
        });
      });

      // Add event handlers for the closing of the modals
      const closeButtons = document.querySelectorAll(".register-close-modal");
      closeButtons.forEach((button) => {
        const targetId = button.dataset.target;
        const target = document.querySelector(targetId);
        button.addEventListener("click", () => {
          target.close();
        });
      });

      // Close dialogs if they are open and the background is selected
      const dialogs = document.querySelectorAll("dialog");
      dialogs.forEach((dialog) => {
        dialog.addEventListener("click", (e) => {
          const rect = dialog.getBoundingClientRect();
          const isInDialog =
            rect.top <= e.clientY &&
            e.clientY < rect.top + rect.height &&
            rect.left <= e.clientX &&
            e.clientX <= rect.left + rect.width;
          if (!isInDialog) {
            dialog.close();
          } else {
            // console.log("in the box, ignore");
          }
        });
      });
    </script>
  </body>
</html>
