---
import "../styles/main.scss";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- https://indieweb.org/RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="/rss.xml"
    />

    <script src="@components/InfoButton.js"></script>
    <script
      defer
      data-domain="alexledger.net"
      src="https://plausible.io/js/script.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alex Ledger</title>
    <ViewTransitions />
  </head>

  <body>
    <div class="primary-layout">
      <div class="site-header | border-bottom">
        <div class="site-header__inner">
          <div>
            <a href="/">Home</a>
          </div>
          <div class="site-header__inner-right">
            <a href="/posts">Posts</a>
            <a href="/#featured-projects">Projects</a>
            <a href="/search">Search</a>
          </div>
        </div>
      </div>
      <!-- Main content -->
      <div class="slot-wrapper container">
        <slot />
      </div>
      <!-- <Footer /> -->
      <footer class="site-footer
        |
        border-bottom">
        <ul role="list">
          <li><a href="/">Home</a></li>
        </ul>
      </footer>
    </div>

    <script is:inline>
      // Add event handlers for the opening of the modals. This should automatically work
      // across components as long as they have the right classes and data values.
      // See GroceryStoreCard.astro for a particular implementation for reference.
      const openButtons = document.querySelectorAll(".register-open-modal");
      openButtons.forEach((button) => {
        const targetId = button.dataset.target;
        const target = document.querySelector(targetId);
        button.addEventListener("click", () => {
          target.showModal();
        });
      });

      // Add event handlers for the closing of the modals
      const closeButtons = document.querySelectorAll(".register-close-modal");
      closeButtons.forEach((button) => {
        const targetId = button.dataset.target;
        const target = document.querySelector(targetId);
        button.addEventListener("click", () => {
          target.close();
        });
      });

      // Close dialogs if they are open and the background is selected
      const dialogs = document.querySelectorAll("dialog");
      dialogs.forEach((dialog) => {
        dialog.addEventListener("click", (e) => {
          const rect = dialog.getBoundingClientRect();
          const isInDialog =
            rect.top <= e.clientY &&
            e.clientY < rect.top + rect.height &&
            rect.left <= e.clientX &&
            e.clientX <= rect.left + rect.width;
          if (!isInDialog) {
            dialog.close();
          } else {
            // console.log("in the box, ignore");
          }
        });
      });
    </script>
  </body>
</html>
